<h1 class="shameel">Shameel Status:  {{#if data.shameel.percentComplete}}{{data.shameel.percentComplete}}% complete {{else}} Not in game {{/if}} <button type="submit" class="btn btn-primary button-shameel">Request</button></h1> 
